@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,600');
.keyvisual__slide {
  opacity: 0;
}
.keyvisual__slide.slick-initialized {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

/* -------------------------
  keyvisual
------------------------- */
.keyvisual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 100vh;
  background: url(../img/top_visual_bg.jpg) no-repeat 50% 50% / cover;
  color: #fff;
}
.keyvisual > .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 45px;
  padding-top: 100px;
}
.keyvisual__title {
  margin: 0 0 40px;
}
.keyvisual__text {
  font-size: 1.8rem;
  line-height: 1.8;
}
.keyvisual__slide {
  list-style: none;
  width: 620px;
}
.keyvisual__slide .slick-arrow {
  display: none !important;
  background: url(../img/ic_arrow.svg) no-repeat 50% 50%/17px 8px;
  margin: 0;
  bottom: -10px;
}
.keyvisual__slide .slick-prev {
  left: 30px;
}
.keyvisual__slide .slick-next {
  right: 30px;
  left: auto;
}
.keyvisual__slide .slick-dots {
  margin: 25px 0 0;
}
.keyvisual__slide .slick-dots li {
  margin: 0 6px;
}
.keyvisual__slide .slick-dots li button {
  background: rgba(255, 255, 255, 0.4);
}
.keyvisual__slide .slick-dots li.slick-active button {
  background: #fff;
}
.keyvisual__scroll {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 85px;
  margin: 0 auto;
}
.keyvisual__scroll:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 768px) {
  .keyvisual {
    background-image: url(../img/top_visual_bg_sp.jpg);
  }
  .keyvisual > .inner {
    display: block;
    padding: 120px 30px 0;
  }
  .keyvisual__title {
    max-width: 217px;
    margin: 0 auto 30px;
  }
  .keyvisual__text {
    display: none;
  }
  .keyvisual__slide {
    list-style: none;
    width: auto;
    max-width: 310px;
    margin: 0 auto;
  }
  .keyvisual__slide .slick-arrow {
    display: block !important;
  }
  .keyvisual__slide .slick-slide {
    max-width: 310px;
  }
  .keyvisual__slide .slick-dots {
    margin: 14px 0 0;
  }
  .keyvisual__scroll {
    width: 68px;
  }
}
/* -------------------------
  top
------------------------- */
.topTitle,
.topTitle--min {
  margin: 0 0 30px;
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 0.16em;
  color: #341e22;
  text-align: center;
}
.topTitle__sub {
  margin: 0 0 30px;
  display: block;
}
.topTitle__sub img {
  display: block;
  margin: auto;
}
.topTitle--min {
  font-size: 2.8rem;
}

.topLead {
  color: #523137;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.18rem;
  line-height: 2;
}
.topLead + .topLead {
  margin: 1em 0 0;
}

@media only screen and (max-width: 768px) {
  .topTitle,
  .topTitle--min {
    margin: 0 0 25px;
    font-size: 2rem;
  }
  .topTitle__sub {
    margin: 0 0 10px;
  }
  .topTitle__sub img {
    height: 12px;
  }
  .topTitle--min {
    font-size: 1.9rem;
  }
  .topLead {
    font-size: 1.3rem;
    letter-spacing: 0.12rem;
    line-height: 1.7;
  }
}
/* -------------------------
  service
------------------------- */
.service {
  border-bottom: 1px solid #eae6de;
}
.service .topTitle--min {
  margin: 90px 0 30px;
}

@media only screen and (max-width: 768px) {
  .service {
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #eae6de;
  }
  .service .topLead {
    margin-bottom: 1em;
    text-align: left;
  }
  .service .topTitle--min {
    margin: 40px 0 25px;
  }
}
/* -------------------------
  case
------------------------- */
.case .caseLead {
  margin-top: 80px;
}

@media only screen and (max-width: 768px) {
  .case {
    padding-left: 0;
    padding-right: 0;
  }
  .case .caseLead {
    margin-top: 40px;
  }
}
/* -------------------------
  cost
------------------------- */
.cost {
  background: #f8f6f1;
}
.cost__topArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 90px 0 80px;
}
.cost__topArea__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 700px;
}
.cost__graf {
  margin: 0 0 80px;
  padding: 60px 30px 80px;
  background: #fff;
  border: 1px solid #eae7df;
  border-radius: 12px;
  text-align: center;
}
.cost__graf__text {
  margin: 0 0 50px;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.costPoint {
  margin: 30px 35px 0 0;
}
.costPoint__title,
.costPoint__title--user,
.costPoint__title--trial {
  position: relative;
  margin: 0 0 25px;
  padding: 0 0 0 75px;
  font-size: 2.3rem;
  font-weight: 500;
  color: #341e22;
}
.costPoint__title--user::before,
.costPoint__title--trial::before {
  content: '';
  position: absolute;
  left: 0;
  top: -10px;
  width: 80px;
  height: 48px;
}
.costPoint__title--user::before {
  background: url(../img/ic_cost_user.png) no-repeat 0 50% / contain;
}
.costPoint__title--trial::before {
  background: url(../img/ic_cost_trial.png) no-repeat 0 50% / contain;
}
.costPoint__text {
  margin: 0 0 40px;
  padding: 0 0 0 75px;
  font-size: 1.6rem;
  line-height: 1.8;
  letter-spacing: 0.1rem;
}

@media only screen and (max-width: 768px) {
  .cost__topArea {
    margin: 45px 0 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .cost__topArea__info {
    width: 100%;
  }
  .cost__graf {
    margin: 0 0 40px;
    padding: 25px 15px;
    border-radius: 7px;
  }
  .cost__graf__text {
    margin: 0 0 15px;
    font-size: 1.5rem;
  }
  .costPoint {
    margin: 40px 0px 15px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .costPoint__title,
  .costPoint__title--user,
  .costPoint__title--trial {
    margin: 0 0 10px;
    padding: 0 0 0 65px;
    font-size: 1.6rem;
  }
  .costPoint__title--user::before,
  .costPoint__title--trial::before {
    width: 65px;
    height: 40px;
  }
  .costPoint__text {
    margin: 0 0 25px;
    padding: 0;
    font-size: 1.3rem;
  }
}
/* -------------------------
  installationBox
------------------------- */
.installationBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  margin: 75px 0 0;
}
.installationBox .slick-arrow {
  background: url(../img/ic_arrow_keycolor.svg) no-repeat 50% 50%/17px 8px;
  margin: 0;
  bottom: -10px;
}
.installationBox .slick-prev {
  left: 30px;
}
.installationBox .slick-next {
  right: 30px;
  left: auto;
}
.installationBox__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}
.installationBox__item:not(:first-child) {
  margin-left: 32px;
}
.installationBox__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto 25px;
  padding: 10px;
  border: 1px solid #ebe7df;
  border-radius: 12px;
  overflow: hidden;
}
.installationBox__title {
  margin: 0 0 20px;
  color: #341e22;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
}
.installationBox__title__icon {
  fill: #f0393a;
  width: 2rem;
  height: 2rem;
  margin: 0 15px 0 0;
  vertical-align: -0.2em;
}
.installationBox__text {
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 0.01rem;
  line-height: 1.7;
}

@media only screen and (max-width: 768px) {
  .installation {
    padding-left: 0;
    padding-right: 0;
  }
  .installationBox {
    display: block;
    margin: 45px 0 0;
  }
  .installationBox__item:not(:first-child) {
    margin-left: 15px;
  }
  .installationBox__image {
    width: 220px;
    margin: 0 auto 12px;
    text-align: center;
  }
  .installationBox__title {
    margin: 0;
    font-size: 1.4rem;
  }
  .installationBox__text {
    display: none;
  }
}
/* -------------------------
  flow
------------------------- */
.flow {
  background: var(--clr-bg-primary);
}
.flow__note {
  margin: -20px 0 60px;
  text-align: center;
  color: #513036;
  font-size: 1.2rem;
}
.flow .contactBlock .telBox__info__num {
  font-size: 5rem;
}
.flow .contactBlock .telBox__info__hyphen {
  font-size: 3.5rem;
}
.flow .contactBlock > * {
  padding: 60px;
  background: #fff;
}
.flow .minContactBlock {
  margin-top: 80px;
}

@media only screen and (max-width: 768px) {
  .flow__note {
    margin: 0 0 45px;
    font-size: 1rem;
  }
  .flow .contactBlock .telBox__info__num {
    font-size: 4rem;
  }
  .flow .contactBlock .telBox__info__hyphen {
    font-size: 2.8rem;
  }
  .flow .contactBlock .trialBtn {
    margin: 20px;
  }
  .flow .contactBlock > * {
    padding: 0;
  }
  .flow .minContactBlock {
    margin-top: 20px;
  }
}
